@{
    ViewBag.Title = "AirPods";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <h1 class="section-title">AirPods</h1>
    <section class="brands-section">
        <div class="brands">
            <a href="~/AmThanh/AirPods" class="phone-pill">
                <img src="https://graphicsprings.com/wp-content/uploads/2023/07/image-58-1024x512.png" alt="Apple" />
            </a>
            <a href="~/AmThanh/Sony" class="phone-pill">
                <img src="https://logos-world.net/wp-content/uploads/2020/04/Sony-Logo.png" alt="Sony Logo, symbol, meaning, history, PNG, brand" />
            </a>
            <a href="~/AmThanh/Samsung" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Samsung_wordmark.svg" alt="samsung" />
            </a>
            <a href="~/AmThanh/Xiaomi" class="phone-pill">
                <img src="https://hienlaptop.com/wp-content/uploads/2024/12/logo-vector-xiaomi-03-scaled.jpg" alt="xiaomi" />
            </a>
            <a href="~/AmThanh/Huawei" class="phone-pill">
                <img src="https://i0.wp.com/magzoid.com/wp-content/uploads/2022/03/Huawei-logo.png?fit=920%2C241&amp;ssl=1" alt="Designer&#39;s pick, March 2022 – Logo of HUAWEI - Magzoid Magazine" />
            </a>
        </div>
    </section>
    <div class="products">
        <!-- 1 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/ap1.png" alt="AirPods 4" />
            <h3>Tai nghe Bluetooth Apple AirPods 4 | Chính hãng Apple Việt Nam</h3>
            <p class="price">3.590.000₫ <span class="old-price">3.790.000₫</span></p>
            <a href="~/AmThanh/ap1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 2 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/ap2.png" alt="AirPods Pro 2 USB-C" />
            <h3>Tai nghe Bluetooth Apple AirPods Pro 2 2023 USB-C | Chính hãng Apple Việt Nam</h3>
            <p class="price">5.590.000₫ <span class="old-price">6.190.000₫</span></p>
            <a href="~/AmThanh/ap2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 3 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/ap3.png" alt="AirPods Pro 2022" />
            <h3>Tai nghe Bluetooth Apple AirPods Pro 2022 | Chính hãng Apple Việt Nam</h3>
            <p class="price">5.690.000₫ <span class="old-price">6.190.000₫</span></p>
            <a href="~/AmThanh/ap3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
