@{
    ViewBag.Title = "Tai nghe Bluetooth";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <!-- PHẦN CHỌN HÃNG ÂM THANH -->
    <section class="brands-section">
        <h2 class="section-title">Tai nghe Bluetooth</h2>
        <div class="brands">
            <a href="~/AmThanh/AirPods" class="phone-pill">
                <img src="https://graphicsprings.com/wp-content/uploads/2023/07/image-58-1024x512.png" alt="Apple" />
            </a>
            <a href="~/AmThanh/Sony" class="phone-pill">
                <img src="https://logos-world.net/wp-content/uploads/2020/04/Sony-Logo.png" alt="Sony Logo, symbol, meaning, history, PNG, brand" />
            </a>
            <a href="~/AmThanh/Samsung" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Samsung_wordmark.svg" alt="samsung" />
            </a>
            <a href="~/AmThanh/Xiaomi" class="phone-pill">
                <img src="https://hienlaptop.com/wp-content/uploads/2024/12/logo-vector-xiaomi-03-scaled.jpg" alt="xiaomi" />
            </a>
            <a href="~/AmThanh/Huawei" class="phone-pill">
                <img src="https://i0.wp.com/magzoid.com/wp-content/uploads/2022/03/Huawei-logo.png?fit=920%2C241&amp;ssl=1" alt="Designer&#39;s pick, March 2022 – Logo of HUAWEI - Magzoid Magazine" />
            </a>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Tai nghe Bluetooth</h2>
        <div class="brands">
            <div class="products">
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ap1.png" alt="AirPods 4" />
                    <h3>Tai nghe Bluetooth Apple AirPods 4 | Chính hãng Apple Việt Nam</h3>
                    <p class="price">3.590.000₫ <span class="old-price">3.790.000₫</span></p>
                    <a href="~/AmThanh/ap1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ap2.png" alt="AirPods Pro 2 USB-C" />
                    <h3>Tai nghe Bluetooth Apple AirPods Pro 2 2023 USB-C | Chính hãng Apple Việt Nam</h3>
                    <p class="price">5.590.000₫ <span class="old-price">6.190.000₫</span></p>
                    <a href="~/AmThanh/ap2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ap3.png" alt="AirPods Pro 2022" />
                    <h3>Tai nghe Bluetooth Apple AirPods Pro 2022 | Chính hãng Apple Việt Nam</h3>
                    <p class="price">5.690.000₫ <span class="old-price">6.190.000₫</span></p>
                    <a href="~/AmThanh/ap3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia1.png" alt="Xiaomi Redmi Buds 6 Active" />
                    <h3>Tai nghe Bluetooth True Wireless Xiaomi Redmi Buds 6 Active</h3>
                    <p class="price">460.000₫ <span class="old-price">590.000₫</span></p>
                    <a href="~/AmThanh/Xia1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia2.png" alt="Xiaomi Redmi Buds 6" />
                    <h3>Tai nghe không dây Xiaomi Redmi Buds 6</h3>
                    <p class="price">890.000₫ <span class="old-price">1.490.000₫</span></p>
                    <a href="~/AmThanh/Xia2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia3.png" alt="Xiaomi Redmi Buds 6 Pro" />
                    <h3>Tai nghe không dây Xiaomi Redmi Buds 6 Pro</h3>
                    <p class="price">1.720.000₫ <span class="old-price">2.490.000₫</span></p>
                    <a href="~/AmThanh/Xia3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 4 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia4.png" alt="Xiaomi Buds 5 Pro Wifi" />
                    <h3>Tai nghe không dây Xiaomi Buds 5 Pro Wifi</h3>
                    <p class="price">4.990.000₫ <span class="old-price">5.880.000₫</span></p>
                    <a href="~/AmThanh/Xia4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 5 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia5.png" alt="Xiaomi Buds 5 Pro" />
                    <h3>Tai nghe không dây Xiaomi Buds 5 Pro</h3>
                    <p class="price">4.990.000₫ <span class="old-price">5.190.000₫</span></p>
                    <a href="~/AmThanh/Xia5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 6 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia6.png" alt="Xiaomi Redmi Buds 5 Pro" />
                    <h3>Tai nghe Bluetooth True Wireless Xiaomi Redmi Buds 5 Pro</h3>
                    <p class="price">1.490.000₫ <span class="old-price">1.990.000₫</span></p>
                    <a href="~/AmThanh/Xia6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/hua1.png" alt="Huawei Freebuds Pro 4" />
                    <h3>Tai nghe không dây Huawei Freebuds Pro 4</h3>
                    <p class="price">3.420.000₫</p>
                    <a href="~/AmThanh/Hua1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/hua2.png" alt="Huawei Freebuds 6i" />
                    <h3>Tai nghe Bluetooth True Wireless Huawei Freebuds 6i</h3>
                    <p class="price">1.390.000₫ <span class="old-price">1.990.000₫</span></p>
                    <a href="~/AmThanh/Hua2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/hua3.png" alt="Huawei Freebuds SE 4" />
                    <h3>Tai nghe Bluetooth True Wireless Huawei Freebuds SE 4 (ANC)</h3>
                    <p class="price">890.000₫ <span class="old-price">990.000₫</span></p>
                    <a href="~/AmThanh/Hua3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 4 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/hua4.png" alt="Huawei FreeArc" />
                    <h3>Tai nghe Bluetooth True Wireless Huawei FreeArc</h3>
                    <p class="price">1.890.000₫ <span class="old-price">2.490.000₫</span></p>
                    <a href="~/AmThanh/Hua4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 5 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/hua5.png" alt="Huawei Freebuds 5" />
                    <h3>Tai nghe Bluetooth True Wireless Huawei Freebuds 5</h3>
                    <p class="price">1.950.000₫ <span class="old-price">3.290.000₫</span></p>
                    <a href="~/AmThanh/Hua5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 6 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/hua6.png" alt="Huawei FreeClip" />
                    <h3>Tai nghe Bluetooth True Wireless Huawei FreeClip</h3>
                    <p class="price">3.290.000₫ <span class="old-price">4.990.000₫</span></p>
                    <a href="~/AmThanh/Hua6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony1.png" alt="Sony WH-1000XM6" />
                    <h3>Tai nghe Bluetooth chụp tai Sony WH-1000XM6</h3>
                    <p class="price">10.490.000₫ <span class="old-price">11.990.000₫</span></p>
                    <a href="~/AmThanh/sn1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony2.png" alt="Sony WH-CH720N" />
                    <h3>Tai nghe Bluetooth chụp tai Sony WH-CH720N</h3>
                    <p class="price">2.490.000₫ <span class="old-price">2.990.000₫</span></p>
                    <a href="~/AmThanh/sn2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony3.png" alt="Sony WF-C710N" />
                    <h3>Tai nghe Bluetooth True Wireless Sony WF-C710N</h3>
                    <p class="price">2.245.000₫ <span class="old-price">2.490.000₫</span></p>
                    <a href="~/AmThanh/sn3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 4 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony4.png" alt="Sony WF-1000XM5" />
                    <h3>Tai nghe Bluetooth True Wireless Sony WF-1000XM5</h3>
                    <p class="price">5.885.000₫ <span class="old-price">6.990.000₫</span></p>
                    <a href="~/AmThanh/sn4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 5 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony5.png" alt="Sony WH-ULT900N" />
                    <h3>Tai nghe chụp tai Sony WH-ULT900N</h3>
                    <p class="price">3.950.000₫ <span class="old-price">4.490.000₫</span></p>
                    <a href="~/AmThanh/sn5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 6 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony6.png" alt="Sony Linkbuds Fit" />
                    <h3>Tai nghe không dây Sony Linkbuds Fit (WF-LS910N)</h3>
                    <p class="price">3.945.000₫ <span class="old-price">5.390.000₫</span></p>
                    <a href="~/AmThanh/sn6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ss1.png" alt="Samsung Galaxy Buds 3 Pro" />
                    <h3>Tai nghe Bluetooth True Wireless Samsung Galaxy Buds 3 Pro</h3>
                    <p class="price">3.690.000₫ <span class="old-price">5.400.000₫</span></p>
                    <a href="~/AmThanh/ss1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ss2.png" alt="Samsung Galaxy Buds Core" />
                    <h3>Tai nghe Bluetooth Samsung Galaxy Buds Core (ANC)</h3>
                    <p class="price">1.190.000₫</p>
                    <a href="~/AmThanh/ss2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ss3.png" alt="Samsung Galaxy Buds FE" />
                    <h3>Tai nghe Bluetooth True Wireless Samsung Galaxy Buds FE</h3>
                    <p class="price">1.250.000₫ <span class="old-price">1.990.000₫</span></p>
                    <a href="~/AmThanh/ss3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 4 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ss4.png" alt="Samsung Galaxy Buds 3" />
                    <h3>Tai nghe Bluetooth True Wireless Samsung Galaxy Buds 3</h3>
                    <p class="price">3.250.000₫ <span class="old-price">3.920.000₫</span></p>
                    <a href="~/AmThanh/ss4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 5 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ss5.png" alt="Samsung Galaxy Buds2 Pro" />
                    <h3>Tai nghe Bluetooth True Wireless Samsung Galaxy Buds2 Pro</h3>
                    <p class="price">2.390.000₫ <span class="old-price">3.500.000₫</span></p>
                    <a href="~/AmThanh/ss5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 6 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/ss6.png" alt="Samsung Galaxy Buds Pro 2" />
                    <h3>Tai nghe Bluetooth Samsung Galaxy Buds Pro 2</h3>
                    <p class="price">4.990.000₫</p>
                    <a href="~/AmThanh/ss6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
            </div>            
        </div>
    </section>
</main>
