@{
    ViewBag.Title = "Huawei";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <h1 class="section-title">Huawei</h1>
    <section class="brands-section">
        <div class="brands">
            <a href="~/AmThanh/AirPods" class="phone-pill">
                <img src="https://graphicsprings.com/wp-content/uploads/2023/07/image-58-1024x512.png" alt="Apple" />
            </a>
            <a href="~/AmThanh/Sony" class="phone-pill">
                <img src="https://logos-world.net/wp-content/uploads/2020/04/Sony-Logo.png" alt="Sony Logo, symbol, meaning, history, PNG, brand" />
            </a>
            <a href="~/AmThanh/Samsung" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Samsung_wordmark.svg" alt="samsung" />
            </a>
            <a href="~/AmThanh/Xiaomi" class="phone-pill">
                <img src="https://hienlaptop.com/wp-content/uploads/2024/12/logo-vector-xiaomi-03-scaled.jpg" alt="xiaomi" />
            </a>
            <a href="~/AmThanh/Huawei" class="phone-pill">
                <img src="https://i0.wp.com/magzoid.com/wp-content/uploads/2022/03/Huawei-logo.png?fit=920%2C241&amp;ssl=1" alt="Designer&#39;s pick, March 2022 – Logo of HUAWEI - Magzoid Magazine" />
            </a>
        </div>
    </section>
    <h1 class="section-title">Huawei</h1>
    <div class="products">
        <!-- 1 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/hua1.png" alt="Huawei Freebuds Pro 4" />
            <h3>Tai nghe không dây Huawei Freebuds Pro 4</h3>
            <p class="price">3.420.000₫</p>
            <a href="~/AmThanh/Hua1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 2 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/hua2.png" alt="Huawei Freebuds 6i" />
            <h3>Tai nghe Bluetooth True Wireless Huawei Freebuds 6i</h3>
            <p class="price">1.390.000₫ <span class="old-price">1.990.000₫</span></p>
            <a href="~/AmThanh/Hua2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 3 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/hua3.png" alt="Huawei Freebuds SE 4" />
            <h3>Tai nghe Bluetooth True Wireless Huawei Freebuds SE 4 (ANC)</h3>
            <p class="price">890.000₫ <span class="old-price">990.000₫</span></p>
            <a href="~/AmThanh/Hua3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 4 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/hua4.png" alt="Huawei FreeArc" />
            <h3>Tai nghe Bluetooth True Wireless Huawei FreeArc</h3>
            <p class="price">1.890.000₫ <span class="old-price">2.490.000₫</span></p>
            <a href="~/AmThanh/Hua4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 5 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/hua5.png" alt="Huawei Freebuds 5" />
            <h3>Tai nghe Bluetooth True Wireless Huawei Freebuds 5</h3>
            <p class="price">1.950.000₫ <span class="old-price">3.290.000₫</span></p>
            <a href="~/AmThanh/Hua5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 6 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/hua6.png" alt="Huawei FreeClip" />
            <h3>Tai nghe Bluetooth True Wireless Huawei FreeClip</h3>
            <p class="price">3.290.000₫ <span class="old-price">4.990.000₫</span></p>
            <a href="~/AmThanh/Hua6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
