@{
    ViewBag.Title = "Sony";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <h1 class="section-title">Sony</h1>
    <section class="brands-section">
        <div class="brands">
            <a href="~/AmThanh/AirPods" class="phone-pill">
                <img src="https://graphicsprings.com/wp-content/uploads/2023/07/image-58-1024x512.png" alt="Apple" />
            </a>
            <a href="~/AmThanh/Sony" class="phone-pill">
                <img src="https://logos-world.net/wp-content/uploads/2020/04/Sony-Logo.png" alt="Sony Logo, symbol, meaning, history, PNG, brand" />
            </a>
            <a href="~/AmThanh/Samsung" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Samsung_wordmark.svg" alt="samsung" />
            </a>
            <a href="~/AmThanh/Xiaomi" class="phone-pill">
                <img src="https://hienlaptop.com/wp-content/uploads/2024/12/logo-vector-xiaomi-03-scaled.jpg" alt="xiaomi" />
            </a>
            <a href="~/AmThanh/Huawei" class="phone-pill">
                <img src="https://i0.wp.com/magzoid.com/wp-content/uploads/2022/03/Huawei-logo.png?fit=920%2C241&amp;ssl=1" alt="Designer&#39;s pick, March 2022 – Logo of HUAWEI - Magzoid Magazine" />
            </a>
        </div>
    </section>
    <div class="products">
        <!-- 1 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/sony1.png" alt="Sony WH-1000XM6" />
            <h3>Tai nghe Bluetooth chụp tai Sony WH-1000XM6</h3>
            <p class="price">10.490.000₫ <span class="old-price">11.990.000₫</span></p>
            <a href="~/AmThanh/sn1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 2 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/sony2.png" alt="Sony WH-CH720N" />
            <h3>Tai nghe Bluetooth chụp tai Sony WH-CH720N</h3>
            <p class="price">2.490.000₫ <span class="old-price">2.990.000₫</span></p>
            <a href="~/AmThanh/sn2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 3 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/sony3.png" alt="Sony WF-C710N" />
            <h3>Tai nghe Bluetooth True Wireless Sony WF-C710N</h3>
            <p class="price">2.245.000₫ <span class="old-price">2.490.000₫</span></p>
            <a href="~/AmThanh/sn3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 4 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/sony4.png" alt="Sony WF-1000XM5" />
            <h3>Tai nghe Bluetooth True Wireless Sony WF-1000XM5</h3>
            <p class="price">5.885.000₫ <span class="old-price">6.990.000₫</span></p>
            <a href="~/AmThanh/sn4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 5 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/sony5.png" alt="Sony WH-ULT900N" />
            <h3>Tai nghe chụp tai Sony WH-ULT900N</h3>
            <p class="price">3.950.000₫ <span class="old-price">4.490.000₫</span></p>
            <a href="~/AmThanh/sn5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 6 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/sony6.png" alt="Sony Linkbuds Fit" />
            <h3>Tai nghe không dây Sony Linkbuds Fit (WF-LS910N)</h3>
            <p class="price">3.945.000₫ <span class="old-price">5.390.000₫</span></p>
            <a href="~/AmThanh/sn6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
