@{
    ViewBag.Title = "Xiaomi";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <h1 class="section-title">Xiaomi</h1>
    <section class="brands-section">
        <div class="brands">
            <a href="~/AmThanh/AirPods" class="phone-pill">
                <img src="https://graphicsprings.com/wp-content/uploads/2023/07/image-58-1024x512.png" alt="Apple" />
            </a>
            <a href="~/AmThanh/Sony" class="phone-pill">
                <img src="https://logos-world.net/wp-content/uploads/2020/04/Sony-Logo.png" alt="Sony Logo, symbol, meaning, history, PNG, brand" />
            </a>
            <a href="~/AmThanh/Samsung" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Samsung_wordmark.svg" alt="samsung" />
            </a>
            <a href="~/AmThanh/Xiaomi" class="phone-pill">
                <img src="https://hienlaptop.com/wp-content/uploads/2024/12/logo-vector-xiaomi-03-scaled.jpg" alt="xiaomi" />
            </a>
            <a href="~/AmThanh/Huawei" class="phone-pill">
                <img src="https://i0.wp.com/magzoid.com/wp-content/uploads/2022/03/Huawei-logo.png?fit=920%2C241&amp;ssl=1" alt="Designer&#39;s pick, March 2022 – Logo of HUAWEI - Magzoid Magazine" />
            </a>
        </div>
    </section>
    <div class="products">
        <!-- 1 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/xia1.png" alt="Xiaomi Redmi Buds 6 Active" />
            <h3>Tai nghe Bluetooth True Wireless Xiaomi Redmi Buds 6 Active</h3>
            <p class="price">460.000₫ <span class="old-price">590.000₫</span></p>
            <a href="~/AmThanh/Xia1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 2 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/xia2.png" alt="Xiaomi Redmi Buds 6" />
            <h3>Tai nghe không dây Xiaomi Redmi Buds 6</h3>
            <p class="price">890.000₫ <span class="old-price">1.490.000₫</span></p>
            <a href="~/AmThanh/Xia2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 3 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/xia3.png" alt="Xiaomi Redmi Buds 6 Pro" />
            <h3>Tai nghe không dây Xiaomi Redmi Buds 6 Pro</h3>
            <p class="price">1.720.000₫ <span class="old-price">2.490.000₫</span></p>
            <a href="~/AmThanh/Xia3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 4 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/xia4.png" alt="Xiaomi Buds 5 Pro Wifi" />
            <h3>Tai nghe không dây Xiaomi Buds 5 Pro Wifi</h3>
            <p class="price">4.990.000₫ <span class="old-price">5.880.000₫</span></p>
            <a href="~/AmThanh/Xia4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 5 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/xia5.png" alt="Xiaomi Buds 5 Pro" />
            <h3>Tai nghe không dây Xiaomi Buds 5 Pro</h3>
            <p class="price">4.990.000₫ <span class="old-price">5.190.000₫</span></p>
            <a href="~/AmThanh/Xia5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- 6 -->
        <div class="product-card">
            <img src="~/Content/AmThanh/xia6.png" alt="Xiaomi Redmi Buds 5 Pro" />
            <h3>Tai nghe Bluetooth True Wireless Xiaomi Redmi Buds 5 Pro</h3>
            <p class="price">1.490.000₫ <span class="old-price">1.990.000₫</span></p>
            <a href="~/AmThanh/Xia6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
