
@{
    ViewBag.Title = "CellPhoneS_Homepage";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
    <script src="~/Content/sanpham.js"></script>
</head>

<main class="main">
    <div class="homepage-sp">
        <div class="layout">
            <!-- Cột danh mục -->
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a style="text-decoration:none; color:black;" href="~/Home/Dienthoai">
                            <span class="icon">📱</span>
                            <span style="text-decoration:none; color:black;" class="text">Điện thoại</span>
                            <span class="arrow">›</span>
                        </a>
                    </li>
                    <li>
                        <a style="text-decoration:none; color:black;" href="~/Laptop/Laptop">
                            <span class="icon">💻</span>
                            <span style="text-decoration:none; color:black;" class="text">Laptop</span>
                            <span class="arrow">›</span>
                        </a>
                    </li>
                    <li>
                        <a style="text-decoration:none; color:black;" href="~/AmThanh/AmThanh">
                            <span class="icon">🎧</span>
                            <span class="text">Âm thanh</span>
                            <span class="arrow">›</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <!-- Cột sản phẩm -->
                <section class="products">
                    <div class="product-card">
                        <img src="~/Content/Images/Asus6.png" alt="ASUS Vivobook S 16 OLED" />
                        <h3>ASUS Vivobook S 16 OLED M5606KA-RIO16WS</h3>
                        <p class="price">26.990.000₫</p>
                        <a href="~/Laptop/Asus6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                    </div>
                </section>
            </div>
            <div>
                <!-- Cột sản phẩm -->
                <section class="products">
                    <div class="product-card">
                        <img src="~/Content/Images/Asus2.png" alt="ASUS TUF Gaming F16 FX607VJ" />
                        <h3>ASUS TUF Gaming F16 FX607VJ-RL034W</h3>
                        <p class="price">21.490.000₫</p>
                        <a href="~/Laptop/Asus2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                    </div>
                </section>
            </div>
            <div>
                <!-- Cột sản phẩm -->
                <section class="products">
                    <div class="product-card">
                        <img src="~/Content/Images/Asus1.png" alt="ASUS ROG Strix G16" />
                        <h3>ASUS ROG Strix G16 G615JMR-S5155SW</h3>
                        <p class="price">41.990.000₫</p>
                        <a href="~/Laptop/Asus1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                    </div>
                </section>
            </div>
            <div>
            </div>
        </div>
    </div>
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <div class="products">
                <!-- MSI 4 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi4.png" alt="Laptop MSI Katana 15 B13VFK" />
                    <h3>MSI Katana 15 B13VFK-676VN</h3>
                    <p class="price">28.490.000₫</p>
                    <a href="~/Laptop/MSI4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 5 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi5.png" alt="Laptop MSI Gaming Thin 15" />
                    <h3>MSI Gaming Thin 15 B13UC-2081VN</h3>
                    <p class="price">18.790.000₫</p>
                    <a href="~/Laptop/MSI5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi6.png" alt="Laptop MSI Katana 15 B13VEK" />
                    <h3>MSI Katana 15 B13VEK-2256VN</h3>
                    <p class="price">24.490.000₫</p>
                    <a href="~/Laptop/MSI6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/Images/lnv5.png" alt="Laptop Lenovo IdeaPad Slim 5 OLED" />
                    <h3>Lenovo IdeaPad Slim 5 OLED 14AKP10 83HX001KVN</h3>
                    <p class="price">21.990.000₫</p>
                    <a href="~/Laptop/Lnv5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Lenovo 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv6.png" alt="Laptop Lenovo LOQ 15IRX10" />
                    <h3>Lenovo LOQ 15IRX10 83JE00PEVN</h3>
                    <p class="price">32.990.000₫</p>
                    <a href="~/Laptop/Lnv6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Iphone</h2>
        <div class="brands">
            <div class="products">
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb_2.jpg" alt="iPhone 17 256GB Mới" />
                    <h3>Iphone 17 128GB | Chính hãng</h3>
                    <p class="price">22.990.000đ </p>
                    <a href="~/Home/DienthoaiApple17128gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>

                @*SP 2*@
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/2/5/256gb_2.jpg?_gl=1*1pn24hq*_gcl_au*ODU3ODg4MjUwLjE3NTYwODQ3NTk.*_ga*MzcwNjQzOTM2LjE3NDAzNjE4NzQ.*_ga_QLK8WFHNK9*czE3NTc0NDUwMDUkbzYyMCRnMSR0MTc1NzQ0ODg3NyRqNjAkbDAkaDQ3NDgzMzQyNA.." alt="Apple iPhone 17 256GB" />
                    <h3>Iphone 17 256GB | Chính hãng</h3>
                    <p class="price">24.990.000đ </p>
                    <a href="~/Home/DienthoaiApple17256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>

                @*SP 3*@
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb-3.jpg" alt="Apple iPhone 17 528GB" />
                    <h3>Iphone 17 512GB | Chính hãng</h3>
                    <p class="price">31.190.000đ </p>
                    <a href="~/Home/DienthoaiApple17512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>
                @*SP 1*@
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-15-128-gbden.png" alt="Đen" />
                    <h3>Iphone 14 128GB | Chính hãng</h3>
                    <p class="price">13.790.000đ</p>
                    <a href="~/Home/DienthoaiApple15128gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-16-xanh-luu-ly_2.png" alt="Xanh Lưu Ly" />
                    <h3>Iphone 16 256GB | Chính hãng</h3>
                    <p class="price">22.990.000đ </p>
                    <a href="~/Home/DienthoaiApple16256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Samsung</h2>
        <div class="brands">
            <div class="products">
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/g/a/galaxy-s24-tim_3.png" alt="Tím" />
                    <h3>Samsung Galaxy S24 256GB | Chính hãng</h3>
                    <p class="price">16.790.000đ</p>
                    <a href="~/Home/DienthoaiSamSungGalaxyS24256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>

                @*SP 2*@
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/g/a/galaxy-s24-vang_4.png" alt="Vàng" />
                    <h3>Samsung Galaxy S24 512GB | Chính hãng</h3>
                    <p class="price">19.190.000đ </p>
                    <a href="~/Home/DienthoaiSamSungGalaxyS24512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>
                @*SP 1*@
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/s/2/s25_-_blue_1.png" alt="Xanh da trời" />
                    <h3>Samsung Galaxy S25 256GB | Chính hãng</h3>
                    <p class="price">17.690.000đ</p>
                    <a href="~/Home/DienthoaiSamSungGalaxyS25256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>

                @*SP 2*@
                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/s/2/s25_-_navy.png" alt="Xanh navy" />
                    <h3>Samsung Galaxy S25 512GB | Chính hãng</h3>
                    <p class="price">21.190.000đ </p>
                    <a href="~/Home/DienthoaiSamSungGalaxyS25512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>

                @*SP 3*@

                <div class="product-card">
                    <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-samsung-galaxy-s25-plus_1__6.png" alt="Xanh lá" />
                    <h3>Samsung Galaxy S25 Plus 256GB | Chính hãng</h3>
                    <p class="price">22.700.000đ </p>
                    <a href="~/Home/DienthoaiSamSungGalaxyS25plus256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Tai nghe Xiaomi</h2>
        <div class="brands">
            <div class="products">
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia1.png" alt="Xiaomi Redmi Buds 6 Active" />
                    <h3>Tai nghe Bluetooth True Wireless Xiaomi Redmi Buds 6 Active</h3>
                    <p class="price">460.000₫ <span class="old-price">590.000₫</span></p>
                    <a href="~/AmThanh/Xia1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia2.png" alt="Xiaomi Redmi Buds 6" />
                    <h3>Tai nghe không dây Xiaomi Redmi Buds 6</h3>
                    <p class="price">890.000₫ <span class="old-price">1.490.000₫</span></p>
                    <a href="~/AmThanh/Xia2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia3.png" alt="Xiaomi Redmi Buds 6 Pro" />
                    <h3>Tai nghe không dây Xiaomi Redmi Buds 6 Pro</h3>
                    <p class="price">1.720.000₫ <span class="old-price">2.490.000₫</span></p>
                    <a href="~/AmThanh/Xia3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 4 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia4.png" alt="Xiaomi Buds 5 Pro Wifi" />
                    <h3>Tai nghe không dây Xiaomi Buds 5 Pro Wifi</h3>
                    <p class="price">4.990.000₫ <span class="old-price">5.880.000₫</span></p>
                    <a href="~/AmThanh/Xia4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 5 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/xia5.png" alt="Xiaomi Buds 5 Pro" />
                    <h3>Tai nghe không dây Xiaomi Buds 5 Pro</h3>
                    <p class="price">4.990.000₫ <span class="old-price">5.190.000₫</span></p>
                    <a href="~/AmThanh/Xia5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Tai nghe Sony</h2>
        <div class="brands">
            <div class="products">
                <!-- 1 -->
                <!-- 1 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony1.png" alt="Sony WH-1000XM6" />
                    <h3>Tai nghe Bluetooth chụp tai Sony WH-1000XM6</h3>
                    <p class="price">10.490.000₫ <span class="old-price">11.990.000₫</span></p>
                    <a href="~/AmThanh/sn1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 2 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony2.png" alt="Sony WH-CH720N" />
                    <h3>Tai nghe Bluetooth chụp tai Sony WH-CH720N</h3>
                    <p class="price">2.490.000₫ <span class="old-price">2.990.000₫</span></p>
                    <a href="~/AmThanh/sn2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 3 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony3.png" alt="Sony WF-C710N" />
                    <h3>Tai nghe Bluetooth True Wireless Sony WF-C710N</h3>
                    <p class="price">2.245.000₫ <span class="old-price">2.490.000₫</span></p>
                    <a href="~/AmThanh/sn3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 4 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony4.png" alt="Sony WF-1000XM5" />
                    <h3>Tai nghe Bluetooth True Wireless Sony WF-1000XM5</h3>
                    <p class="price">5.885.000₫ <span class="old-price">6.990.000₫</span></p>
                    <a href="~/AmThanh/sn4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- 5 -->
                <div class="product-card">
                    <img src="~/Content/AmThanh/sony5.png" alt="Sony WH-ULT900N" />
                    <h3>Tai nghe chụp tai Sony WH-ULT900N</h3>
                    <p class="price">3.950.000₫ <span class="old-price">4.490.000₫</span></p>
                    <a href="~/AmThanh/sn5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

            </div>
        </div>
    </section>
</main>


