
@{
    ViewBag.Title = "DienthoaiXiaomi";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Xioami</h2>
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiXiaomi15" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Xiaomi 15 Series </h3>
            </a>
            <a href="~/Home/DienthoaiXiaomi14" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Xiaomi 14 Series </h3>
            </a>
            <a href="~/Home/DienthoaiXiaomi13" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Xiaomi 13 Series </h3>
            </a>
            <a href="~/Home/DienthoaiXiaomi12" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Xiaomi 12 Series</h3>
            </a>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Xioami 12 Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-12t-xam_1_1.jpg" alt="Bạc" />
                <h3>Xiaomi 12T 8GB 128GB | Chính hãng</h3>
                <p class="price">5.490.000đ</p>
                <a href="~/Home/DienthoaiXiaomi12T8gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-12t-den_4.jpg" alt="Xám" />
                <h3>Xiaomi 12T Pro | Chính hãng</h3>
                <p class="price">14.690.000đ </p>
                <a href="~/Home/DienthoaiXiaomi12Tpro" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Xioami 13 Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-13t-pro_3__1_1.png" alt="Đen" />
                <h3>Xiaomi 13T Pro 5G 12GB 512GB - Chỉ có tại CellphoneS | Chính hãng</h3>
                <p class="price">14.870.000đ</p>
                <a href="~/Home/DienthoaiXiaomi13Tpro" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-13t_1__1_3.png" alt="Xanh dương" />
                <h3>Xiaomi 13T 12GB 256GB | Chính hãng</h3>
                <p class="price">10.590.000đ </p>
                <a href="~/Home/DienthoaiXiaomi13T12gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 3*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/m/pms_1670745783.81546234_1_.png" alt="Trắng (độc quyền)" />
                <h3>Xiaomi 13 8GB 256GB | Chính hãng</h3>
                <p class="price">16.490.000đ </p>
                <a href="~/Home/DienthoaiXiaomi138gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Xioami 14 Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/2/3/234_10_.png" alt="Xanh - Chỉ có tại CPS" />
                <h3>Xiaomi 14T Pro 12GB 512GB | Chính hãng</h3>
                <p class="price">14.870.000đ</p>
                <a href="~/Home/DienthoaiXiaomi14Tpro" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/2/3/234_11__1.png" alt="Xám" />
                <h3>Xiaomi 14T 12GB 512GB | Chính hãng</h3>
                <p class="price">12.740.000đđ </p>
                <a href="~/Home/DienthoaiXiaomi14T" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 3*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-14-pre-trang_1.png" alt="Trắng" />
                <h3>Xiaomi 14 12GB 256GB | Chính hãng</h3>
                <p class="price">18.990.000đ </p>
                <a href="~/Home/DienthoaiXiaomi14256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Xioami 15 Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-xiaomi-15-ultra_17_.png" alt="Đen" />
                <h3>Xiaomi 15 Ultra 5G 16GB 512GB | Chính hãng</h3>
                <p class="price">31.990.000đ</p>
                <a href="~/Home/DienthoaiXiaomi15ultra5g" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/m/image_1262703564.jpg" alt="Trắng" />
                <h3>Xiaomi 15 5G 12GB 512GB | Chính hãng</h3>
                <p class="price">20.990.000đ </p>
                <a href="~/Home/DienthoaiXiaomi155g" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 3*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-15t-5g-15.jpg" alt="XIAOMI 15T Đen ảnh 5" /><
                <h3>XIAOMI 15T | Chính hãng</h3>
                <p class="price">14.990.000đ </p>
                <a href="~/Home/DienthoaiXiaomi15T" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 4*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:300:0/q:90/plain/https://cellphones.com.vn/media/catalog/product/x/i/xiaomi-15t-pro-5g-11.jpg" alt="XIAOMI 15T PRO Vàng Mocha ảnh 1" />
                <h3>XIAOMI 15T PRO | Chính hãng</h3>
                <p class="price">19.490.000đ </p>
                <a href="~/Home/DienthoaiXiaomi15Tpro" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 5*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/h/photo_2025-04-16_11-45-37_1.jpg" alt="Bạc" />
                <h3>Xiaomi 15 Ultra 5G 16GB 1TB | Chính hãng</h3>
                <p class="price">31.990.000đ </p>
                <a href="~/Home/DienthoaiXiaomi15ultra5g1tb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
</main>

