
@{
    ViewBag.Title = "DienthoaiOppoFindX8";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    @*Thông tin sản phẩm*@
    <div class="product-detail">
        @*Hình ảnh + mô tả nổi bật*@
        <div class="product-left">
            <img id="mainProductImage"
                 src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/c/o/combo_product_find_x8_-_grey_1.png"
                 alt="iPhone 14" class="product-image">

            <div class="highlight-box">
                <h3>TÍNH NĂNG NỔI BẬT</h3>
                <ul>
                    <li>  OPPO Find X8 hữu chip Dimensity 9400 3nm với lõi Cortex-X925 sẽ đảm bảo xử lý mọi tác vụ một cách nhanh chóng.</li>
                    <li>  Find X8 sẽ được trang bị cụm 3 camera sau 50MP đảm bảo được sự đồng đều về chất lượng hình ảnh giữa các chế độ chụp.</li>
                    <li>  Camera chính & tele 50MP, góc rộng 8MP, chụp ảnh sắc nét, zoom quang học ấn tượng</li>
                    <li>  Viên Pin 5630 mAh sẽ giúp dòng bạn kéo dài ra đáng kể thời gian dùng điện thoại, đáp ứng nhu cầu sử dụng hỗn hợp suốt cả ngày của người dùng.</li>
                </ul>
            </div>
        </div>

        @*Giá + tùy chọn*@
        <div class="product-right">
            <h2>OPPO Find X8 16GB 512GB | Chính hãng VN/A</h2>
            <p class="rating">⭐ 4.9 (343 đánh giá)</p>
            <p class="price">21.580.000đ</p>

            @*Chọn phiên bản*@
            <div class="options">
                <h4>Phiên bản</h4>
                <div class="option-list">
                    <button class="option selected">512GB</button>
                </div>
            </div>

            @*Chọn màu*@
            <div class="options">
                <h4>Màu sắc</h4>
                <div class="option-list">
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/c/o/combo_product_find_x8_-_grey_1.png">
                        Xám
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/c/o/combo_product_find_x8_-_black_1.png">
                        Đen
                    </button>
                </div>
            </div>

            @*Cụm nút hành động*@
            <div class="action-buttons">
                <button class="btn-installment">Trả góp 0%</button>
                <button class="btn-buy">Mua ngay</button>
                <button class="btn-cart">Thêm vào giỏ</button>
            </div>
        </div>
    </div>

    @*Thông số kỹ thuật*@
    <div class="specs">
        <h3>Thông số kỹ thuật</h3>
        <table>
            <tr><td>Kích thước màn hình</td><td>5.69 inches Amoled</td></tr>
            <tr><td>Công nghệ màn hình</td><td>Tần số: 120Hz Màn hình chính: Kính Pet+UTG, 1400nit Màn hình ngoài: 6.62 inch, 1140 x 2616 (FHD+), kính siêu mỏng Nanocrytal, 1600nit 1 tỷ màu sắc</td></tr>
            <tr><td>Camera sau</td><td> 50MP OIS (Chính) + 50MP (Chân dung Tele) + 50MP (Góc rộng)</td></tr>
            <tr><td>Camera trước</td><td> 32MP, khẩu độ F/2.4</td></tr>
            <tr><td>Chipset</td><td>MediaTek Dimensity 9400</td></tr>
            <tr><td>Bộ nhớ trong</td><td>512 GB</td></tr>
            <tr><td>Hệ điều hành</td><td>Android 16</td></tr>
        </table>
    </div>
    <script src="~/Content/sanpham.js"></script>
</main>


