
@{
    ViewBag.Title = "DienthoaiOppoReno14";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    @*Thông tin sản phẩm*@
    <div class="product-detail">
        @*Hình ảnh + mô tả nổi bật*@
        <div class="product-left">
            <img id="mainProductImage"
                 src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-oppo-reno14-f-b_1.jpg"
                 alt="iPhone 14" class="product-image">

            <div class="highlight-box">
                <h3>TÍNH NĂNG NỔI BẬT</h3>
                <ul>
                    <li>  Màn hình AMOLED 6.57 inch, tần số quét 120Hz mượt mà, độ sáng tối đa 1400 nits.</li>
                    <li>  Camera sau 50MP hỗ trợ chống rung OIS, chụp đêm, góc rộng, quay 4K sắc nét.</li>
                    <li>  PPin 6000mAh siêu bền, sạc nhanh SuperVOOC 45W, dùng lâu không lo gián đoạn.</li>
                    <li>  Màn hình AMOLED 6.57 inch, FHD+, 120Hz hiển thị sống động, mượt mà và độ sáng tối đa 1400 nits.</li>
                </ul>
            </div>
        </div>

        @*Giá + tùy chọn*@
        <div class="product-right">
            <h2>OPPO Reno14 F 5G 8GB 256GB | Chính hãng VN/A</h2>
            <p class="rating">⭐ 4.9 (343 đánh giá)</p>
            <p class="price">10.300.000đ</p>

            @*Chọn phiên bản*@
            <div class="options">
                <h4>Phiên bản</h4>
                <div class="option-list">
                    <button class="option selected">256GB</button>
                </div>
            </div>

            @*Chọn màu*@
            <div class="options">
                <h4>Màu sắc</h4>
                <div class="option-list">
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-oppo-reno14-f-b_1.jpg">
                        Xanh dương
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-oppo-reno14-f-g_1.jpg">
                        Xanh Lá
                    </button>
                </div>
            </div>

            @*Cụm nút hành động*@
            <div class="action-buttons">
                <button class="btn-installment">Trả góp 0%</button>
                <button class="btn-buy">Mua ngay</button>
                <button class="btn-cart">Thêm vào giỏ</button>
            </div>
        </div>
    </div>

    @*Thông số kỹ thuật*@
    <div class="specs">
        <h3>Thông số kỹ thuật</h3>
        <table>
            <tr><td>Kích thước màn hình</td><td>6.57 inches Amoled</td></tr>
            <tr><td>Công nghệ màn hình</td><td>công nghệ ProMotion với tần số quét thích ứng tối đa 120Hz,Dynamic Island, màn hình luôn bật</td></tr>
            <tr><td>Camera sau</td><td> Chính 50MP OIS, F/1.8 Góc rộng 8MP, F/2.2Marco 2MP, F/2.4</td></tr>
            <tr><td>Camera trước</td><td>32MP, F/2.0</td></tr>
            <tr><td>Chipset</td><td>Qualcomm Snapdragon 6 Gen 1 5G, tối đa 2.2GHz</td></tr>
            <tr><td>Bộ nhớ trong</td><td>256 GB</td></tr>
            <tr><td>Hệ điều hành</td><td>Android 16</td></tr>
        </table>
    </div>
    <script src="~/Content/sanpham.js"></script>
</main>


