
@{
    ViewBag.Title = "DienthoaiApple17128gb";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
     @*Thông tin sản phẩm*@ 
    <div class="product-detail">
         @*Hình ảnh + mô tả nổi bật*@ 
        <div class="product-left">
            <img id="mainProductImage"
                 src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb_2.jpg"
                 alt="iPhone 17" class="product-image">

            <div class="highlight-box">
                <h3>TÍNH NĂNG NỔI BẬT</h3>
                <ul>
                    <li>Thiết kế titan nhẹ và bền bỉ, màn hình Super Retina XDR 6.9 inch.</li>
                    <li>Điều khiển Camera thông minh, chụp ảnh chuyên nghiệp.</li>
                    <li>Camera Ultra Wide 48MP + Telephoto 5x ấn tượng.</li>
                </ul>
            </div>
        </div>

         @*Giá + tùy chọn*@ 
        <div class="product-right">
            <h2>Iphone 17 128GB | Chính hãng VN/A</h2>
            <p class="rating">⭐ 4.9 (343 đánh giá)</p>
            <p class="price">22.990.000đ</p>

             @*Chọn phiên bản*@ 
            <div class="options">
                <h4>Phiên bản</h4>
                <div class="option-list">
                    <button class="option selected">128GB</button>
                </div>
            </div>

             @*Chọn màu*@ 
            <div class="options">
                <h4>Màu sắc</h4>
                <div class="option-list">
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb_2.jpg">
                        Titan Đen
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/2/5/256gb_2.jpg?_gl=1*1pn24hq*_gcl_au*ODU3ODg4MjUwLjE3NTYwODQ3NTk.*_ga*MzcwNjQzOTM2LjE3NDAzNjE4NzQ.*_ga_QLK8WFHNK9*czE3NTc0NDUwMDUkbzYyMCRnMSR0MTc1NzQ0ODg3NyRqNjAkbDAkaDQ3NDgzMzQyNA..">
                        Titan Trắng
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb-3.jpg">
                        Titan Tím Oải Hương
                    </button>
                </div>
            </div>

             @*Cụm nút hành động*@ 
            <div class="action-buttons">
                <button class="btn-installment">Trả góp 0%</button>
                <button class="btn-buy">Mua ngay</button>
                <button class="btn-cart">Thêm vào giỏ</button>
            </div>
        </div>
    </div>

     @*Thông số kỹ thuật*@ 
    <div class="specs">
        <h3>Thông số kỹ thuật</h3>
        <table>
            <tr><td>Kích thước màn hình</td><td>6.3 inch Super Retina XDR OLED</td></tr>
            <tr><td>Công nghệ màn hình</td><td>công nghệ ProMotion với tần số quét thích ứng tối đa 120Hz,Dynamic Island, màn hình luôn bật</td></tr>
            <tr><td>Camera sau</td><td>48MP Fusion Main và 48MP Fusion Ultra Wide</td></tr>
            <tr><td>Camera trước</td><td>18MP Center Stage</td></tr>
            <tr><td>Chipset</td><td>Apple A19</td></tr>
            <tr><td>Bộ nhớ trong</td><td>128 GB</td></tr>
            <tr><td>Hệ điều hành</td><td>IOS 18</td></tr>
        </table>
    </div>
    <script src="~/Content/sanpham.js"></script>
</main>


