@{
    ViewBag.Title = "DienthoaiApple17";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <h1 class="section-title">Điện Thoại iPhone 17 Series</h1>

     @*Thanh chọn model*@ 
    <section class="brands-section">
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiApple17" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 17 SERIES</h3>
            </a>
            <a href="~/Home/DienthoaiApple16" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 16 SERIES</h3>
            </a>
            <a href="~/Home/DienthoaiApple15" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 15 SERIES</h3>
            </a>
            <a href="~/Home/DienthoaiApple14" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 14 SERIES</h3>
            </a>
        </div>
    </section>
    <div class="products">
         @*SP 1*@ 
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb_2.jpg" alt="iPhone 17 256GB Mới" />
            <h3>Iphone 17 128GB | Chính hãng</h3>
            <p class="price">22.990.000đ </p>
            <a href="~/Home/DienthoaiApple17128gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

         @*SP 2*@ 
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/2/5/256gb_2.jpg?_gl=1*1pn24hq*_gcl_au*ODU3ODg4MjUwLjE3NTYwODQ3NTk.*_ga*MzcwNjQzOTM2LjE3NDAzNjE4NzQ.*_ga_QLK8WFHNK9*czE3NTc0NDUwMDUkbzYyMCRnMSR0MTc1NzQ0ODg3NyRqNjAkbDAkaDQ3NDgzMzQyNA.." alt="Apple iPhone 17 256GB" />
            <h3>Iphone 17 256GB | Chính hãng</h3>
            <p class="price">24.990.000đ </p>
            <a href="~/Home/DienthoaiApple17256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

         @*SP 3*@ 
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone_17_256gb-3.jpg" alt="Apple iPhone 17 528GB" />
            <h3>Iphone 17 512GB | Chính hãng</h3>
            <p class="price">31.190.000đ </p>
            <a href="~/Home/DienthoaiApple17512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

         @*SP 4*@ 
        <div class="product-card">
            <img src="https://cdn1.viettelstore.vn/Images/Product/ProductImage/1644285630.jpeg" alt="iPhone 17 Pro Max 256GB" />
            <h3>Iphone 17 PRO MAX 256GB | Chính hãng</h3>
            <p class="price"> 33.990.000đ</p>
            <a href="~/Home/DienthoaiApple17PM256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

         @*SP 5*@ 
        <div class="product-card">
            <img src="https://cdn.tgdd.vn/Products/Images/42/342679/iphone-17-pro-max-xanh-duong-thumb-600x600.jpg" alt="iPhone 17 Pro Max 512GB " />
            <h3>Iphone 17 PRO MAX 512GB | Chính hãng</h3>
            <p class="price"> 40.490.000đ </p>
            <a href="~/Home/DienthoaiApple17PM512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

         @*SP 6*@ 
        <div class="product-card">
            <img src="https://www.didongmy.com/vnt_upload/product/09_2025/thumbs/(600x600)_iphone_17_pro_max_orange_thumb_didongmy.jpg" alt="iPhone 17 Pro Max 1TB " />
            <h3>Iphone 17 PRO MAX 1TB | Chính hãng</h3>
            <p class="price"> 50.990.000đ </p>
            <a href="~/Home/DienthoaiApple17PM1TB" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

         @*SP 7*@ 
        <div class="product-card">
            <img src="https://cdn1.viettelstore.vn/Images/Product/ProductImage/1644285630.jpeg" alt="iPhone 17 Pro Max 2TB " />
            <h3>Iphone 17 PRO MAX 2TB | Chính hãng</h3>
            <p class="price"> 60.990.000đ </p>
            <a href="~/Home/DienthoaiApple17PM2TB" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>
    </div>
</main>
