@{
    ViewBag.Title = "DienthoaiOppoReno";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <h1 class="section-title">Điện Thoại Oppo Reno Series</h1>

    @*Thanh chọn model*@
    <section class="brands-section">
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiOppoA" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo A </h3>
            </a>
            <a href="~/Home/DienthoaiOppoFindX" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo Find X </h3>
            </a>
            <a href="~/Home/DienthoaiOppoReno" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo Reno </h3>
            </a>
        </div>
    </section>
    <div class="products">
        @*SP 1*@
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-oppo-reno14-f-b_1.jpg" alt="Xanh dương" />
            <h3>OPPO Reno14 F 5G 8GB 256GB | Chính hãng</h3>
            <p class="price">10.300.000đ</p>
            <a href="~/Home/DienthoaiOppoReno14" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

        @*SP 2*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-reno10-pro-plus-tim_1.png" alt="Tím" />
        <h3>OPPO Reno10 Pro+ 5G 12GB 256GB | Chính hãng</h3>
        <p class="price">10.490.000đ </p>
        <a href="~/Home/DienthoaiOppoReno10" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 3*@

        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/t/e/text_ng_n_4__6_74.png" alt="Cam" />
            <h3>OPPO Reno12 F 5G 8GB 256GB | Chính hãng</h3>
            <p class="price">7.120.000đ </p>
            <a href="~/Home/DienthoaiOppoReno12" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>
    </div>
</main>
