
@{
    ViewBag.Title = "DienthoaiOppo";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Oppo</h2>
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiOppoA" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo A </h3>
            </a>
            <a href="~/Home/DienthoaiOppoFindX" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo Find X </h3>
            </a>
            <a href="~/Home/DienthoaiOppoReno" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo Reno </h3>
            </a>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Oppo A Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo_a6_pro_8gb_256gb_4.jpg" alt="Hồng" />
                <h3>OPPO A6 Pro 8GB 256GB | Chính hãng</h3>
                <p class="price">7.990.000đ</p>
                <a href="~/Home/DienthoaiOppoA6pro256" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-a5i-4gb-128gb-do_1.jpg" alt="Đỏ" />
                <h3>OPPO A5i 4GB 128GB | Chính hãng</h3>
                <p class="price">3.490.000đ </p>
                <a href="~/Home/DienthoaiOppoA5i128" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 3*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-a79-den.jpg" alt="Đen" />
                <h3>SOPPO A79 5G 8GB 256GB | Chính hãng</h3>
                <p class="price">6.860.000đ </p>
                <a href="~/Home/DienthoaiOppoA79256" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Oppo Reno Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/d/i/dien-thoai-oppo-reno14-f-b_1.jpg" alt="Xanh dương" />
                <h3>OPPO Reno14 F 5G 8GB 256GB | Chính hãng</h3>
                <p class="price">10.300.000đ</p>
                <a href="~/Home/DienthoaiOppoReno14" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-reno10-pro-plus-tim_1.png" alt="Tím" />
                <h3>OPPO Reno10 Pro+ 5G 12GB 256GB | Chính hãng</h3>
                <p class="price">10.490.000đ </p>
                <a href="~/Home/DienthoaiOppoReno10" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 3*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/t/e/text_ng_n_4__6_74.png" alt="Cam" />
                <h3>OPPO Reno12 F 5G 8GB 256GB | Chính hãng</h3>
                <p class="price">7.120.000đ </p>
                <a href="~/Home/DienthoaiOppoReno12" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Oppo FindX Series</h2>
        <div class="iphoneseries">
            @*SP 1*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/f/i/find_n3_-_combo_product_-_gold_1.png" alt="Vàng" />
                <h3>OPPO Find N3 16GB 512GB | Chính hãng</h3>
                <p class="price">26.990.000đ</p>
                <a href="~/Home/DienthoaiOppoFindN3" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 2*@
            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/h/photo_2025-03-21_10-27-52_1.jpg" alt="Trắng" />
                <h3>OPPO FIND N5 | Chính hãng</h3>
                <p class="price">44.180.000đ </p>
                <a href="~/Home/DienthoaiOppoFindN5" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>

            @*SP 3*@

            <div class="product-card">
                <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/c/o/combo_product_find_x8_-_grey_1.png" alt="Xám" />
                <h3>OPPO Find X8 16GB 512GB | Chính hãng</h3>
                <p class="price">21.580.000đ </p>
                <a href="~/Home/DienthoaiOppoFindX8" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
        </div>
    </section>
</main>

