@{
    ViewBag.Title = "DienthoaiApple14";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <h1 class="section-title">Điện Thoại iPhone 14 Series</h1>

    @*Thanh chọn model*@
    <section class="brands-section">
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiApple17" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 17 SERIES</h3>
            </a>
            <a href="~/Home/DienthoaiApple16" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 16 SERIES</h3>
            </a>
            <a href="~/Home/DienthoaiApple15" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 15 SERIES</h3>
            </a>
            <a href="~/Home/DienthoaiApple14" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>IPHONE 14 SERIES</h3>
            </a>
        </div>
    </section>
    <div class="products">
        @*SP 1*@
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-15-128-gbden.png" alt="Đen" />
            <h3>Iphone 14 128GB | Chính hãng</h3>
            <p class="price">13.790.000đ</p>
            <a href="~/Home/DienthoaiApple14128gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

        @*SP 2*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/h/photo_2022-09-28_21-58-54_1.jpg" alt="Đỏ" />
        <h3>Iphone 14 256GB | Chính hãng</h3>
        <p class="price">15.990.000đ </p>
        <a href="~/Home/DienthoaiApple14256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 3*@

        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-15-128gb-vang.png" alt="Vàng" />
            <h3>Iphone 14 512GB | Chính hãng</h3>
            <p class="price">17.990.000đ </p>
            <a href="~/Home/DienthoaiApple14512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

        @*SP 4*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-16-pro-max-titan-den_2.png" alt="Titan Đen" />
        <h3>Iphone 14 PRO MAX 256GB | Chính hãng</h3>
        <p class="price"> 27.990.000đ</p>
        <a href="~/Home/DienthoaiApple14PM256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 5*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-16-pro-max-titan-tu-nhien.png" alt="Titan Tự Nhiên" />
        <h3>Iphone 14 PRO MAX 512GB | Chính hãng</h3>
        <p class="price"> 35.390.000đ </p>
        <a href="~/Home/DienthoaiApple14PM512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 6*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/t/_/t_m_25.png" alt="Tím" />
        <h3>Iphone 14 PRO MAX 1TB | Chính hãng</h3>
        <p class="price"> 41.790.000đ </p>
        <a href="~/Home/DienthoaiApple14PM1TB" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 7*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/i/p/iphone-16-pro-max-titan-trang_2.png" alt="Titan Tự Trắng" />
        <h3>Iphone 15 PRO MAX 2TB | Chính hãng</h3>
        <p class="price"> 47.790.000đ </p>
        <a href="~/Home/DienthoaiApple14PM2TB" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>
    </div>
</main>
