@{
    ViewBag.Title = "DienthoaiSamSung";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <h1 class="section-title">Điện Thoại SamSung Galaxy Z7 Series</h1>

    @*Thanh chọn model*@
    <section class="brands-section">
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiSamSungGalaxyS25" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Samsung Galaxy S25</h3>
            </a>
            <a href="~/Home/DienthoaiSamSungGalaxyS24" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Samsung Galaxy S24</h3>
            </a>
            <a href="~/Home/DienthoaiSamSungGalaxyZ7" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Samsung Galaxy Z7</h3>
            </a>
            <a href="~/Home/DienthoaiSamSungGalaxyZ6" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Samsung Galaxy Z6</h3>
            </a>
        </div>
    </section>
    <div class="products">
        @*SP 1*@
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/s/a/samsung-galaxy-z-fold-7-xanh_1_1.jpg" alt="Xanh bóng" />
            <h3>Samsung Galaxy Z Fold7 256GB | Chính hãng</h3>
            <p class="price">42.990.000đ</p>
            <a href="~/Home/DienthoaiSamSungGalaxyZfold7256gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

        @*SP 2*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/s/a/samsung-galaxy-z-fold-7-xam_3.jpg" alt="Xám bóng" />
        <h3>Samsung Galaxy Z Fold7 512GB | Chính hãng</h3>
        <p class="price">46.990.000đ </p>
        <a href="~/Home/DienthoaiSamSungGalaxyZfold7512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 3*@

    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/s/a/samsung-galaxy-z-flip-7-do_2.jpg" alt="Đỏ san hô" />
                <h3>Samsung Galaxy Z Flip7 256GB | Chính hãng</h3>
                <p class="price">25.990.000đ </p>
                <a href="~/Home/DienthoaiSamSungGalaxyZflip7265gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
            </div>
            @*SP 4*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/s/a/samsung-galaxy-z-flip-7-den_3.jpg" alt="Đen tuyền" />
        <h3>Samsung Galaxy Z Flip7 512GB | Chính hãng</h3>
        <p class="price"> 29.990.000đ </p>
        <a href="~/Home/DienthoaiSamSungGalaxyZflip7512gb" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        </div>
    </main>
