
@{
    ViewBag.Title = "DienthoaiXiaomi13Tpro";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    @*Thông tin sản phẩm*@
    <div class="product-detail">
        @*Hình ảnh + mô tả nổi bật*@
        <div class="product-left">
            <img id="mainProductImage"
                 src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-13t-pro_3__1_1.png"
                 alt="iPhone 14" class="product-image">

            <div class="highlight-box">
                <h3>TÍNH NĂNG NỔI BẬT</h3>
                <ul>
                    <li>   Hiệu năng bất chấp mọi tác vụ - Bộ vi xử lý Dimensity 9200+ Ultra mạnh mẽ cùng RAM 12GB cho đa nhiệm mượt mà </li>
                    <li>  Năng lượng bất tận cả ngày - Pin 5000mAh cùng sạc nhanh 120W, sạc đầy chỉ trong 19 phút</li>
                    <li>  Quay video 8K HDR mang lại những thước phim chất lượng cao với Dolby Vision HDR và 4K HDR10+</li>
                    <li>   Màn hình Xiaomi 13t Pro sáng rực rỡ, cuộn lướt thật mượt mà - Màn hình 144hz cùng công nghệ AMOLED CrystalRes</li>
                </ul>
            </div>
        </div>

        @*Giá + tùy chọn*@
        <div class="product-right">
            <h2>Xiaomi 13T Pro 5G 12GB 512GB - Chỉ có tại CellphoneS | Chính hãng VN/A</h2>
            <p class="rating">⭐ 4.9 (343 đánh giá)</p>
            <p class="price">14.870.000đ</p>

            @*Chọn phiên bản*@
            <div class="options">
                <h4>Phiên bản</h4>
                <div class="option-list">
                    <button class="option selected">512GB</button>
                </div>
            </div>

            @*Chọn màu*@
            <div class="options">
                <h4>Màu sắc</h4>
                <div class="option-list">
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-13t_2__2_2.png">
                        Xanh Lá
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-13t-pro_3__1_1.png">
                        Đen
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/x/i/xiaomi-13t-pro_2__3.png">
                        Xanh Dương
                    </button>
                </div>
            </div>

            @*Cụm nút hành động*@
            <div class="action-buttons">
                <button class="btn-installment">Trả góp 0%</button>
                <button class="btn-buy">Mua ngay</button>
                <button class="btn-cart">Thêm vào giỏ</button>
            </div>
        </div>
    </div>

    @*Thông số kỹ thuật*@
    <div class="specs">
        <h3>Thông số kỹ thuật</h3>
        <table>
            <tr><td>Kích thước màn hình</td><td>6.67 inches AMOLED</td></tr>
            <tr>
                <td>Công nghệ màn hình</td>
                <td>
                    Tần số quét 144 Hz, 446 ppi, 1200 nit, 68 tỷ màu
                    Màn hình TrueColor
                    Corning®️ Gorilla®️ Glass 5
                </td>
            </tr>
            <tr>
                <td>Camera sau</td>
                <td>
                    Camera chính góc rộng: 50 MP, 1/1.22"
                    Camera góc siêu rộng: 12 MP
                    Camera Tele: 50 MP
                </td>
            </tr>
            <tr>
                <td>Camera trước</td>
                <td>
                    32MPƒ/2,0
                    Độ dài tiêu cự tương đương 25 mm
                    FOV 80,8˚
                    Chế độ ban đêm
                    HDR
                    Tính năng chụp ảnh bằng lòng bàn tay
                </td>
            </tr>
            <tr><td>Chipset</td><td>MediaTek Dimensity 9200+</td></tr>
            <tr><td>Bộ nhớ trong</td><td>512 GB</td></tr>
            <tr><td>Hệ điều hành</td><td>Android 16</td></tr>
        </table>
    </div>
    <script src="~/Content/sanpham.js"></script>
</main>


