@{
    ViewBag.Title = "DienthoaiOppo";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <h1 class="section-title">Điện Thoại Oppo Find X Series</h1>

    @*Thanh chọn model*@
    <section class="brands-section">
        <div class="iphoneseries">
            <a href="~/Home/DienthoaiOppoA" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo A </h3>
            </a>
            <a href="~/Home/DienthoaiOppoFindX" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo Find X </h3>
            </a>
            <a href="~/Home/DienthoaiOppoReno" style="color:black; text-decoration:none;" class="phone-pill">
                <h3>Oppo Reno </h3>
            </a>
        </div>
    </section>
    <div class="products">
        @*SP 1*@
        <div class="product-card">
            <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/f/i/find_n3_-_combo_product_-_gold_1.png" alt="Vàng" />
            <h3>OPPO Find N3 16GB 512GB | Chính hãng</h3>
            <p class="price">26.990.000đ</p>
            <a href="~/Home/DienthoaiOppoFindN3" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
        </div>

        @*SP 2*@
    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/h/photo_2025-03-21_10-27-52_1.jpg" alt="Trắng" />
        <h3>OPPO FIND N5 | Chính hãng</h3>
        <p class="price">44.180.000đ </p>
        <a href="~/Home/DienthoaiOppoFindN5" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>

        @*SP 3*@

    <div class="product-card">
        <img src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/c/o/combo_product_find_x8_-_grey_1.png" alt="Xám" />
        <h3>OPPO Find X8 16GB 512GB | Chính hãng</h3>
        <p class="price">21.580.000đ </p>
        <a href="~/Home/DienthoaiOppoFindX8" style="text-decoration:none;" class="buy-btn">Mua ngay</a>
    </div>
    </div>
</main>
