
@{
    ViewBag.Title = "DienthoaiOppoA79265";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    @*Thông tin sản phẩm*@
    <div class="product-detail">
        @*Hình ảnh + mô tả nổi bật*@
        <div class="product-left">
            <img id="mainProductImage"
                 src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-a79-den.jpg"
                 alt="iPhone 14" class="product-image">

            <div class="highlight-box">
                <h3>TÍNH NĂNG NỔI BẬT</h3>
                <ul>
                    <li>  Trải nghiệm hình ảnh mượt mà và sống động với màn hình 90Hz, cho bạn những thao tác vuốt chạm và chơi game mượt mà hơn.</li>
                    <li>  Tận hưởng tốc độ internet siêu nhanh và ổn định với kết nối 5G, cho bạn tải xuống, xem video và chơi game online mượt mà hơn.</li>
                    <li>  Lưu trữ thoải mái với bộ nhớ lớn 8GB RAM + 128GB ROM, cho bạn đa nhiệm mượt mà và lưu trữ nhiều ứng dụng, hình ảnh và video.</li>
                    <li>  Sử dụng thoải mái cả ngày dài với pin 5000mAh và sạc nhanh 33W, cho bạn sạc đầy pin nhanh chóng để tiếp tục sử dụng.</li>
                </ul>
            </div>
        </div>

        @*Giá + tùy chọn*@
        <div class="product-right">
            <h2>OPPO A79 5G 8GB 256GB | Chính hãng VN/A</h2>
            <p class="rating">⭐ 4.9 (343 đánh giá)</p>
            <p class="price">6.860.000đ</p>

            @*Chọn phiên bản*@
            <div class="options">
                <h4>Phiên bản</h4>
                <div class="option-list">
                    <button class="option selected">256GB</button>
                </div>
            </div>

            @*Chọn màu*@
            <div class="options">
                <h4>Màu sắc</h4>
                <div class="option-list">
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-a79-den.jpg">
                        Đen
                    </button>
                    <button class="option color-option"
                            data-img="https://cdn2.cellphones.com.vn/358x/media/catalog/product/o/p/oppo-a79-tim.jpg">
                        Tím
                    </button>
                </div>
            </div>

            @*Cụm nút hành động*@
            <div class="action-buttons">
                <button class="btn-installment">Trả góp 0%</button>
                <button class="btn-buy">Mua ngay</button>
                <button class="btn-cart">Thêm vào giỏ</button>
            </div>
        </div>
    </div>

    @*Thông số kỹ thuật*@
    <div class="specs">
        <h3>Thông số kỹ thuật</h3>
        <table>
            <tr><td>Kích thước màn hình</td><td>6.72 inches Amoled</td></tr>
            <tr><td>Công nghệ màn hình</td><td>công nghệ ProMotion với tần số quét thích ứng tối đa 120Hz,Dynamic Island, màn hình luôn bật</td></tr>
            <tr><td>Camera sau</td><td> 8MP; f/2.0; FOV 80°; ống kính 4P</td></tr>
            <tr><td>Camera trước</td><td>Camera chính: 50MP; f/1.8; FOV 77°; ống kính 5P 2MP, f/2.4; FOV 89°; ống kính 3P; hỗ trợ FF</td></tr>
            <tr><td>Chipset</td><td>MediaTek Dimensity 6020 5G 8 nhân</td></tr>
            <tr><td>Bộ nhớ trong</td><td>256 GB</td></tr>
            <tr><td>Hệ điều hành</td><td>Android 16</td></tr>
        </table>
    </div>
    <script src="~/Content/sanpham.js"></script>
</main>


