@{
    ViewBag.Title = "LaptopASUS";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <a href="~/Laptop/Macbook" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1024px-MacBook_logo.svg.png" alt="File:MacBook logo.svg - Wikimedia Commons" />
            </a>
            <a href="~/Laptop/Del" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Dell_logo.svg/2560px-Dell_logo.svg.png" alt="Tập tin:Dell logo.svg – Wikipedia tiếng Việt" />
            </a>
            <a href="~/Laptop/Asus" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png" alt="Tập tin:AsusTek-black-logo.png – Wikipedia tiếng Việt" />
            </a>
            <a href="/Laptop/Lenovo" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/640px-Lenovo_logo_2015.svg.png" alt="Tập tin:Lenovo logo 2015.svg – Wikipedia tiếng Việt" />
            </a>
        </div>
    </section>
    <h1 class="section-title">Laptop ASUS</h1>
    <div class="products">
        <!-- ASUS 1 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus1.png" alt="ASUS ROG Strix G16" />
            <h3>ASUS ROG Strix G16 G615JMR-S5155SW</h3>
            <p class="price">41.990.000₫</p>
            <a href="~/Laptop/Asus1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 2 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus2.png" alt="ASUS TUF Gaming F16 FX607VJ" />
            <h3>ASUS TUF Gaming F16 FX607VJ-RL034W</h3>
            <p class="price">21.490.000₫</p>
            <a href="~/Laptop/Asus2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 3 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus3.png" alt="ASUS Vivobook S16" />
            <h3>ASUS Vivobook S16 S5606CA-RI171WS</h3>
            <p class="price">27.190.000₫</p>
            <a href="~/Laptop/Asus3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 4 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus4.png" alt="ASUS Vivobook 15" />
            <h3>ASUS Vivobook 15 X1502VA-BQ885W</h3>
            <p class="price">14.990.000₫</p>
            <a href="~/Laptop/Asus4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 5 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus5.png" alt="ASUS Vivobook 15" />
            <h3>ASUS Vivobook 15 X1504VA-BQ2076W</h3>
            <p class="price">13.990.000₫</p>
            <a href="~/Laptop/Asus5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 6 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus6.png" alt="ASUS Vivobook S 16 OLED" />
            <h3>ASUS Vivobook S 16 OLED M5606KA-RIO16WS</h3>
            <p class="price">26.990.000₫</p>
            <a href="~/Laptop/Asus6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 7 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus7.png" alt="ASUS Vivobook 16X" />
            <h3>ASUS Vivobook 16X K3605VC-RP491W</h3>
            <p class="price">19.990.000₫</p>
            <a href="~/Laptop/Asus7" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- ASUS 8 -->
        <div class="product-card">
            <img src="~/Content/Images/Asus8.png" alt="ASUS TUF Gaming F16" />
            <h3>ASUS TUF Gaming F16 FX608JMR-RV048W</h3>
            <p class="price">36.990.000₫</p>
            <a href="~/Laptop/Asus8" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
