@{
    ViewBag.Title = "LaptopDell";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <a href="~/Laptop/Macbook" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1024px-MacBook_logo.svg.png" alt="File:MacBook logo.svg - Wikimedia Commons" />
            </a>
            <a href="~/Laptop/Del" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Dell_logo.svg/2560px-Dell_logo.svg.png" alt="Tập tin:Dell logo.svg – Wikipedia tiếng Việt" />
            </a>
            <a href="~/Laptop/Asus" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png" alt="Tập tin:AsusTek-black-logo.png – Wikipedia tiếng Việt" />
            </a>
            <a href="/Laptop/Lenovo" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/640px-Lenovo_logo_2015.svg.png" alt="Tập tin:Lenovo logo 2015.svg – Wikipedia tiếng Việt" />
            </a>
        </div>
    </section>
    <h1 class="section-title">Laptop Dell</h1>

    <div class="products">
        <!-- Dell 1 -->
        <div class="product-card">
            <img src="~/Content/Images/Dell1.png" alt="Laptop Dell Inspiron" />
            <h3>Dell Inspiron 15 3520-7896BLK-PUS</h3>
            <p class="price">18.490.000₫</p>
            <a href="~/Laptop/Del1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Dell 2 -->
        <div class="product-card">
            <img src="~/Content/Images/Dell2.png" alt="Laptop Dell 15 DC15250" />
            <h3>Dell 15 DC15250 71073959</h3>
            <p class="price">20.990.000₫</p>
            <a href="~/Laptop/Del2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Dell 3 -->
        <div class="product-card">
            <img src="~/Content/Images/Dell3.png" alt="Laptop Dell 15 DC15255" />
            <h3>Dell 15 DC15255 DC5R5802W1</h3>
            <p class="price">15.990.000₫</p>
            <a href="~/Laptop/Del3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Dell 4 -->
        <div class="product-card">
            <img src="~/Content/Images/Dell4.png" alt="Laptop Dell G15" />
            <h3>Dell G15 5530 i7HX161W11GR4060</h3>
            <p class="price">36.990.000₫</p>
            <a href="~/Laptop/Del4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Dell 5 -->
        <div class="product-card">
            <img src="~/Content/Images/Dell5.png" alt="Laptop Dell Inspiron 14" />
            <h3>Dell Inspiron 14 5440 N4I5211W1</h3>
            <p class="price">22.890.000₫</p>
            <a href="~/Laptop/Del5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Dell 6 -->
        <div class="product-card">
            <img src="~/Content/Images/Dell6.png" alt="Laptop Dell 15 DC15250" />
            <h3>Dell 15 DC15250 3G7T0</h3>
            <p class="price">18.590.000₫</p>
            <a href="~/Laptop/Del6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
