
@{
    ViewBag.Title = "Laptop";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>
<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <a href="~/Laptop/Macbook" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1024px-MacBook_logo.svg.png" alt="File:MacBook logo.svg - Wikimedia Commons" />
            </a>
            <a href="~/Laptop/Del" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Dell_logo.svg/2560px-Dell_logo.svg.png" alt="Tập tin:Dell logo.svg – Wikipedia tiếng Việt" />
            </a>
            <a href="~/Laptop/Asus" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png" alt="Tập tin:AsusTek-black-logo.png – Wikipedia tiếng Việt" />
            </a>
            <a href="/Laptop/Lenovo" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/640px-Lenovo_logo_2015.svg.png" alt="Tập tin:Lenovo logo 2015.svg – Wikipedia tiếng Việt" />
            </a>
        </div>
    </section>
    <section class="brands-section">
        <h2 class="section-title">Sản phẩm nổi bật</h2>
        <div class="brands">
            <div class="products">
                <!-- Laptop 1 -->
                <div class="product-card">
                    <img src="~/Content/Images/image_mac1.png" alt="Macbook Air M2" />
                    <h3>Apple MacBook Air M2 2024 8CPU 8GPU 16GB 256GB</h3>
                    <p class="price">19.890.000₫</p>
                    <a href="~/Laptop/MacAirM2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Laptop 2 -->
                <div class="product-card">
                    <img src="~/Content/Images/macbook_2.png" alt="Macbook Air M4" />
                    <h3>MacBook Air M4 13 inch 2025 10CPU 8GPU 16GB 256GB</h3>
                    <p class="price">25.090.000₫</p>
                    <a href="~/Laptop/MacAirM4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Laptop 3 -->
                <div class="product-card">
                    <img src="~/Content/Images/macbook_3.png" alt="Macbook Pro 14 M4" />
                    <h3>MacBook Pro 14 M4 10CPU 10GPU 16GB 512GB</h3>
                    <p class="price">37.690.000₫</p>
                    <a href="~/Laptop/MacM4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Laptop 4 -->
                <div class="product-card">
                    <img src="~/Content/Images/macbook_4.png" alt="Macbook Pro 14 M4 Pro" />
                    <h3>MacBook Pro 14 M4 Pro 12CPU 16GPU 24GB 512GB</h3>
                    <p class="price">47.590.000₫</p>
                    <a href="~/Laptop/MacM4Pro" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Laptop 5 -->
                <div class="product-card">
                    <img src="~/Content/Images/macbook_7.png" alt="Mac mini M4 Pro" />
                    <h3>Mac mini M4 Pro 2024 12CPU 16GPU 24GB 512GB</h3>
                    <p class="price">32.390.000₫</p>
                    <a href="~/Laptop/MacM4Promn" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Laptop 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/macbook_8.png" alt="Mac mini M4" />
                    <h3>Mac mini M4 2024 10CPU 10GPU 16GB 256GB</h3>
                    <p class="price">13.990.000₫</p>
                    <a href="~/Laptop/MacM4mn" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- ASUS 1 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus1.png" alt="ASUS ROG Strix G16" />
                    <h3>ASUS ROG Strix G16 G615JMR-S5155SW</h3>
                    <p class="price">41.990.000₫</p>
                    <a href="~/Laptop/Asus1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- ASUS 2 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus2.png" alt="ASUS TUF Gaming F16 FX607VJ" />
                    <h3>ASUS TUF Gaming F16 FX607VJ-RL034W</h3>
                    <p class="price">21.490.000₫</p>
                    <a href="~/Laptop/Asus2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- ASUS 3 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus3.png" alt="ASUS Vivobook S16" />
                    <h3>ASUS Vivobook S16 S5606CA-RI171WS</h3>
                    <p class="price">27.190.000₫</p>
                    <a href="~/Laptop/Asus3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- ASUS 4 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus4.png" alt="ASUS Vivobook 15" />
                    <h3>ASUS Vivobook 15 X1502VA-BQ885W</h3>
                    <p class="price">14.990.000₫</p>
                    <a href="~/Laptop/Asus4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- MSI 1 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi1.png" alt="Laptop MSI Modern 14" />
                    <h3>MSI Modern 14 C12MO-660VN</h3>
                    <p class="price">11.790.000₫</p>
                    <a href="~/Laptop/MSI1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 2 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi2.png" alt="Laptop MSI Katana 15 B13UDXK" />
                    <h3>MSI Katana 15 B13UDXK-2270VN V2</h3>
                    <p class="price">19.990.000₫</p>
                    <a href="~/Laptop/MSI2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 3 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi3.png" alt="Laptop MSI Gaming Katana AI" />
                    <h3>MSI Gaming Katana AI B8VE-402VN</h3>
                    <p class="price">24.990.000₫</p>
                    <a href="~/Laptop/MSI3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 4 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi4.png" alt="Laptop MSI Katana 15 B13VFK" />
                    <h3>MSI Katana 15 B13VFK-676VN</h3>
                    <p class="price">28.490.000₫</p>
                    <a href="~/Laptop/MSI4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 5 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi5.png" alt="Laptop MSI Gaming Thin 15" />
                    <h3>MSI Gaming Thin 15 B13UC-2081VN</h3>
                    <p class="price">18.790.000₫</p>
                    <a href="~/Laptop/MSI5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- MSI 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/msi6.png" alt="Laptop MSI Katana 15 B13VEK" />
                    <h3>MSI Katana 15 B13VEK-2256VN</h3>
                    <p class="price">24.490.000₫</p>
                    <a href="~/Laptop/MSI6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- ASUS 5 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus5.png" alt="ASUS Vivobook 15" />
                    <h3>ASUS Vivobook 15 X1504VA-BQ2076W</h3>
                    <p class="price">13.990.000₫</p>
                    <a href="~/Laptop/Asus5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- ASUS 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus6.png" alt="ASUS Vivobook S 16 OLED" />
                    <h3>ASUS Vivobook S 16 OLED M5606KA-RIO16WS</h3>
                    <p class="price">26.990.000₫</p>
                    <a href="~/Laptop/Asus6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- ASUS 7 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus7.png" alt="ASUS Vivobook 16X" />
                    <h3>ASUS Vivobook 16X K3605VC-RP491W</h3>
                    <p class="price">19.990.000₫</p>
                    <a href="~/Laptop/Asus7" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- ASUS 8 -->
                <div class="product-card">
                    <img src="~/Content/Images/Asus8.png" alt="ASUS TUF Gaming F16" />
                    <h3>ASUS TUF Gaming F16 FX608JMR-RV048W</h3>
                    <p class="price">36.990.000₫</p>
                    <a href="~/Laptop/Asus8" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- Dell 1 -->
                <div class="product-card">
                    <img src="~/Content/Images/Dell1.png" alt="Laptop Dell Inspiron" />
                    <h3>Dell Inspiron 15 3520-7896BLK-PUS</h3>
                    <p class="price">18.490.000₫</p>
                    <a href="~/Laptop/Del1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Dell 2 -->
                <div class="product-card">
                    <img src="~/Content/Images/Dell2.png" alt="Laptop Dell 15 DC15250" />
                    <h3>Dell 15 DC15250 71073959</h3>
                    <p class="price">20.990.000₫</p>
                    <a href="~/Laptop/Del2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Dell 3 -->
                <div class="product-card">
                    <img src="~/Content/Images/Dell3.png" alt="Laptop Dell 15 DC15255" />
                    <h3>Dell 15 DC15255 DC5R5802W1</h3>
                    <p class="price">15.990.000₫</p>
                    <a href="~/Laptop/Del3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Dell 4 -->
                <div class="product-card">
                    <img src="~/Content/Images/Dell4.png" alt="Laptop Dell G15" />
                    <h3>Dell G15 5530 i7HX161W11GR4060</h3>
                    <p class="price">36.990.000₫</p>
                    <a href="~/Laptop/Del4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Dell 5 -->
                <div class="product-card">
                    <img src="~/Content/Images/Dell5.png" alt="Laptop Dell Inspiron 14" />
                    <h3>Dell Inspiron 14 5440 N4I5211W1</h3>
                    <p class="price">22.890.000₫</p>
                    <a href="~/Laptop/Del5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Dell 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/Dell6.png" alt="Laptop Dell 15 DC15250" />
                    <h3>Dell 15 DC15250 3G7T0</h3>
                    <p class="price">18.590.000₫</p>
                    <a href="~/Laptop/Del6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
                <!-- Lenovo 1 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv1.png" alt="Laptop Lenovo IdeaPad Slim 3 14IRH10" />
                    <h3>Lenovo IdeaPad Slim 3 14IRH10 83K00008VN</h3>
                    <p class="price">14.990.000₫</p>
                    <a href="~/Laptop/Lnv1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Lenovo 2 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv2.png" alt="Laptop Lenovo IdeaPad Slim 3 15ABR8" />
                    <h3>Lenovo IdeaPad Slim 3 15ABR8 82XMOOMDVN</h3>
                    <p class="price">12.490.000₫</p>
                    <a href="~/Laptop/Lnv2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Lenovo 3 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv3.png" alt="Laptop Lenovo IdeaPad Slim 5" />
                    <h3>Lenovo IdeaPad Slim 5 14IRH10R 83J0006EVN</h3>
                    <p class="price">19.990.000₫</p>
                    <a href="~/Laptop/Lnv3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Lenovo 4 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv4.png" alt="Laptop Lenovo LOQ 15ARP9" />
                    <h3>Lenovo LOQ 15ARP9 83JC00M3VN</h3>
                    <p class="price">22.490.000₫</p>
                    <a href="~/Laptop/Lnv4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Lenovo 5 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv5.png" alt="Laptop Lenovo IdeaPad Slim 5 OLED" />
                    <h3>Lenovo IdeaPad Slim 5 OLED 14AKP10 83HX001KVN</h3>
                    <p class="price">21.990.000₫</p>
                    <a href="~/Laptop/Lnv5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>

                <!-- Lenovo 6 -->
                <div class="product-card">
                    <img src="~/Content/Images/lnv6.png" alt="Laptop Lenovo LOQ 15IRX10" />
                    <h3>Lenovo LOQ 15IRX10 83JE00PEVN</h3>
                    <p class="price">32.990.000₫</p>
                    <a href="~/Laptop/Lnv6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
                </div>
            </div>
        </div>
    </section>
</main>

