@{
    ViewBag.Title = "LaptopLenovo";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <a href="~/Laptop/Macbook" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1024px-MacBook_logo.svg.png" alt="File:MacBook logo.svg - Wikimedia Commons" />
            </a>
            <a href="~/Laptop/Del" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Dell_logo.svg/2560px-Dell_logo.svg.png" alt="Tập tin:Dell logo.svg – Wikipedia tiếng Việt" />
            </a>
            <a href="~/Laptop/Asus" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png" alt="Tập tin:AsusTek-black-logo.png – Wikipedia tiếng Việt" />
            </a>
            <a href="/Laptop/Lenovo" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/640px-Lenovo_logo_2015.svg.png" alt="Tập tin:Lenovo logo 2015.svg – Wikipedia tiếng Việt" />
            </a>
        </div>
    </section>
    <h1 class="section-title">Laptop Lenovo</h1>

    <div class="products">
        <!-- Lenovo 1 -->
        <div class="product-card">
            <img src="~/Content/Images/lnv1.png" alt="Laptop Lenovo IdeaPad Slim 3 14IRH10" />
            <h3>Lenovo IdeaPad Slim 3 14IRH10 83K00008VN</h3>
            <p class="price">14.990.000₫</p>
            <a href="~/Laptop/Lnv1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Lenovo 2 -->
        <div class="product-card">
            <img src="~/Content/Images/lnv2.png" alt="Laptop Lenovo IdeaPad Slim 3 15ABR8" />
            <h3>Lenovo IdeaPad Slim 3 15ABR8 82XMOOMDVN</h3>
            <p class="price">12.490.000₫</p>
            <a href="~/Laptop/Lnv2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Lenovo 3 -->
        <div class="product-card">
            <img src="~/Content/Images/lnv3.png" alt="Laptop Lenovo IdeaPad Slim 5" />
            <h3>Lenovo IdeaPad Slim 5 14IRH10R 83J0006EVN</h3>
            <p class="price">19.990.000₫</p>
            <a href="~/Laptop/Lnv3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Lenovo 4 -->
        <div class="product-card">
            <img src="~/Content/Images/lnv4.png" alt="Laptop Lenovo LOQ 15ARP9" />
            <h3>Lenovo LOQ 15ARP9 83JC00M3VN</h3>
            <p class="price">22.490.000₫</p>
            <a href="~/Laptop/Lnv4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Lenovo 5 -->
        <div class="product-card">
            <img src="~/Content/Images/lnv5.png" alt="Laptop Lenovo IdeaPad Slim 5 OLED" />
            <h3>Lenovo IdeaPad Slim 5 OLED 14AKP10 83HX001KVN</h3>
            <p class="price">21.990.000₫</p>
            <a href="~/Laptop/Lnv5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Lenovo 6 -->
        <div class="product-card">
            <img src="~/Content/Images/lnv6.png" alt="Laptop Lenovo LOQ 15IRX10" />
            <h3>Lenovo LOQ 15IRX10 83JE00PEVN</h3>
            <p class="price">32.990.000₫</p>
            <a href="~/Laptop/Lnv6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
