@{
    ViewBag.Title = "MacBook";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <a href="~/Laptop/Macbook" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1024px-MacBook_logo.svg.png" alt="File:MacBook logo.svg - Wikimedia Commons" />
            </a>
            <a href="~/Laptop/Del" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Dell_logo.svg/2560px-Dell_logo.svg.png" alt="Tập tin:Dell logo.svg – Wikipedia tiếng Việt" />
            </a>
            <a href="~/Laptop/Asus" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png" alt="Tập tin:AsusTek-black-logo.png – Wikipedia tiếng Việt" />
            </a>
            <a href="/Laptop/Lenovo" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/640px-Lenovo_logo_2015.svg.png" alt="Tập tin:Lenovo logo 2015.svg – Wikipedia tiếng Việt" />
            </a>
        </div>
    </section>
    <h1 class="section-title">MacBook</h1>

    <div class="products">
        <!-- Laptop 1 -->
        <div class="product-card">
            <img src="~/Content/Images/image_mac1.png" alt="Macbook Air M2" />
            <h3>Apple MacBook Air M2 2024 8CPU 8GPU 16GB 256GB</h3>
            <p class="price">19.890.000₫</p>
            <a href="~/Laptop/MacAirM2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Laptop 2 -->
        <div class="product-card">
            <img src="~/Content/Images/macbook_2.png" alt="Macbook Air M4" />
            <h3>MacBook Air M4 13 inch 2025 10CPU 8GPU 16GB 256GB</h3>
            <p class="price">25.090.000₫</p>
            <a href="~/Laptop/MacAirM4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Laptop 3 -->
        <div class="product-card">
            <img src="~/Content/Images/macbook_3.png" alt="Macbook Pro 14 M4" />
            <h3>MacBook Pro 14 M4 10CPU 10GPU 16GB 512GB</h3>
            <p class="price">37.690.000₫</p>
            <a href="~/Laptop/MacM4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Laptop 4 -->
        <div class="product-card">
            <img src="~/Content/Images/macbook_4.png" alt="Macbook Pro 14 M4 Pro" />
            <h3>MacBook Pro 14 M4 Pro 12CPU 16GPU 24GB 512GB</h3>
            <p class="price">47.590.000₫</p>
            <a href="~/Laptop/MacM4Pro" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Laptop 5 -->
        <div class="product-card">
            <img src="~/Content/Images/macbook_7.png" alt="Mac mini M4 Pro" />
            <h3>Mac mini M4 Pro 2024 12CPU 16GPU 24GB 512GB</h3>
            <p class="price">32.390.000₫</p>
            <a href="~/Laptop/MacM4Promn" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- Laptop 6 -->
        <div class="product-card">
            <img src="~/Content/Images/macbook_8.png" alt="Mac mini M4" />
            <h3>Mac mini M4 2024 10CPU 10GPU 16GB 256GB</h3>
            <p class="price">13.990.000₫</p>
            <a href="~/Laptop/MacM4mn" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
