@{
    ViewBag.Title = "LaptopMSI";
    Layout = "~/Views/Home/CellPhoneS_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/SanPham.css" />
</head>

<main class="main">
    <section class="brands-section">
        <h2 class="section-title">Laptop</h2>
        <div class="brands">
            <a href="~/Laptop/Macbook" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1024px-MacBook_logo.svg.png" alt="File:MacBook logo.svg - Wikimedia Commons" />
            </a>
            <a href="~/Laptop/Del" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Dell_logo.svg/2560px-Dell_logo.svg.png" alt="Tập tin:Dell logo.svg – Wikipedia tiếng Việt" />
            </a>
            <a href="~/Laptop/Asus" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/AsusTek-black-logo.png" alt="Tập tin:AsusTek-black-logo.png – Wikipedia tiếng Việt" />
            </a>
            <a href="/Laptop/Lenovo" class="phone-pill">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Lenovo_logo_2015.svg/640px-Lenovo_logo_2015.svg.png" alt="Tập tin:Lenovo logo 2015.svg – Wikipedia tiếng Việt" />
            </a>
        </div>
    </section>
    <h1 class="section-title">Laptop MSI</h1>

    <div class="products">
        <!-- MSI 1 -->
        <div class="product-card">
            <img src="~/Content/Images/msi1.png" alt="Laptop MSI Modern 14" />
            <h3>MSI Modern 14 C12MO-660VN</h3>
            <p class="price">11.790.000₫</p>
            <a href="~/Laptop/MSI1" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- MSI 2 -->
        <div class="product-card">
            <img src="~/Content/Images/msi2.png" alt="Laptop MSI Katana 15 B13UDXK" />
            <h3>MSI Katana 15 B13UDXK-2270VN V2</h3>
            <p class="price">19.990.000₫</p>
            <a href="~/Laptop/MSI2" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- MSI 3 -->
        <div class="product-card">
            <img src="~/Content/Images/msi3.png" alt="Laptop MSI Gaming Katana AI" />
            <h3>MSI Gaming Katana AI B8VE-402VN</h3>
            <p class="price">24.990.000₫</p>
            <a href="~/Laptop/MSI3" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- MSI 4 -->
        <div class="product-card">
            <img src="~/Content/Images/msi4.png" alt="Laptop MSI Katana 15 B13VFK" />
            <h3>MSI Katana 15 B13VFK-676VN</h3>
            <p class="price">28.490.000₫</p>
            <a href="~/Laptop/MSI4" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- MSI 5 -->
        <div class="product-card">
            <img src="~/Content/Images/msi5.png" alt="Laptop MSI Gaming Thin 15" />
            <h3>MSI Gaming Thin 15 B13UC-2081VN</h3>
            <p class="price">18.790.000₫</p>
            <a href="~/Laptop/MSI5" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>

        <!-- MSI 6 -->
        <div class="product-card">
            <img src="~/Content/Images/msi6.png" alt="Laptop MSI Katana 15 B13VEK" />
            <h3>MSI Katana 15 B13VEK-2256VN</h3>
            <p class="price">24.490.000₫</p>
            <a href="~/Laptop/MSI6" class="buy-btn" style="text-decoration:none;">Mua ngay</a>
        </div>
    </div>
</main>
